<a href="https://colab.research.google.com/github/sejalganachari07/Hamoye_internship_Stage_A/blob/main/DatasetA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hamoye - Stage A
# Introduction to Python for Machine Learning
Submitted by Sejal Ganachari (sejalsganachari@gmail.com )

In [84]:
import pandas as pd

**Read the given dataset CSV File**

In [8]:

path = '/content/drive/MyDrive/dataset/FoodBalanceSheets_E_Africa_NOFLAG.csv'
df = pd.read_csv(path, encoding='latin1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28


**1) Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?**

In [5]:
selected_columns= df[['Y2017', 'Area']] #select columns
grouped_df =  selected_columns.groupby('Area').sum() #groupby
area_highestsum = grouped_df['Y2017'].idxmax()
print("area which has higest sum in 2017 year : ", area_highestsum)

area which has higest sum in 2017 year :  Nigeria

**Filtering rows based on condition**

**2)Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?**

In [11]:
year_highestsum = grouped_df.idxmax()  #highest sum of stock varation

print("Year with the highest sum of stock variation:", year_highestsum)

Year with the highest sum of stock variation: Y2017    Nigeria
dtype: object

**3)How would you check for the number of rows and columns in a pandas DataFrame named df?**

In [13]:
number_rows, number_columns = df.shape
print("Number of rows:", number_rows)
print("Number of columns:", number_columns)

Number of rows: 60943
Number of columns: 12

**4)What is the total number and percentage of missing data in 2014 to 3 decimal places?**

In [17]:
df_2014 = df.filter(like='2014')
total_missing_2014 = df_2014.isnull().sum().sum()
total_cells_2014 = df_2014.size
percentage_missing_2014 = (total_missing_2014 / total_cells_2014) * 100

print("Total number of missing data in 2014:", total_missing_2014)
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing_2014))

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607%

**5) What is the total number of unique countries in the dataset?**

In [22]:
total_unique_countries = df['Area'].nunique()

print("Total number of unique countries:", total_unique_countries)

Total number of unique countries: 49

**6)Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?**

Options
Seychelles

Comoros

Ghana

Cabo Verde

Guinea-Bissau**

In [90]:
#ghana
selected_columns= df[['Y2017', 'Area']]
grouped_df =  selected_columns.groupby('Area').sum() #groupby

# Sort the DataFrame by the sum of 'Y2017' in ascending order
sorted_grouped = grouped_df.sort_values(by='Y2017')

# Select the 7th area
seventh_lowest_area = sorted_grouped.iloc[6]['Area']

print("the area which had te 7th lowest sum in 2017 :", seventh_lowest_area)

KeyError: "None of [Index(['Y2017', 'Area'], dtype='object')] are in the [columns]"

**7)What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?**

In [97]:
df_2017 = df[df['Y2017'] == 2017]

# Calculate the mean and standard deviation of the 'Value' column for the year 2017
mean_2017 = df_2017[''].mean()
std_2017 = df_2017['Y2017'].std()

# Print the mean and standard deviation rounded to 2 decimal places
print("Mean for 2017: {:.2f}".format(mean_2017))
print("Standard deviation for 2017: {:.2f}".format(std_2017))

KeyError: 'Y2017'

**8)Answer the following questions based on the African food production dataset provided by the FAO website already provided**

**What is the total sum of Wine produced in 2015 and 2018 respectively?**

Hint:

Perform a groupby sum aggregation on item**

In [36]:

# Filter the data for Wine
wine_production = df[df['Item'] == 'Wine']

# Group by 'Item' and sum the values for columns 'Y2015' and 'Y2018'
grouped_wine_production = wine_production.groupby('Item')[['Y2015', 'Y2018']].sum()

# Get the total sum of Wine produced in 2015 and 2018 respectively
total_wine_2015 = grouped_wine_production.loc['Wine', 'Y2015']
total_wine_2018 = grouped_wine_production.loc['Wine', 'Y2018']

total_wine_2015, total_wine_2018

(4251.81, 4039.32)

**9)Which year had the least correlation with ‘Element Code’?**
**

In [102]:

# Calculate correlation coefficients for each year
correlations = {}
for year in range(int('Y2014'), int('Y2018') + 1):
    df_year = df[df['Y2014'] == year]
    corr = df_year.corr().loc['Element Code'].abs().mean()
    correlations[year] = corr

min_corr_year = min(correlations, key=correlations.get)

print("Year with the least correlation with 'Element Code':", min_corr_year)

ValueError: invalid literal for int() with base 10: 'Y2014'

**11) perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?**

In [50]:

df_2017 = df[df['Year'] == 2017]

# Perform a groupby operation on 'Element' and count the occurrences of each element
grouped_by_element = df_2017.groupby('Element').size()

# Get the total number of processing in 2017
total_processing_2017 = grouped_by_element.get('Y2017', 0)

total_processing_2017

KeyError: 'Year'

**12)Given the following numpy array**

array  =    ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

**How would you select  the elements in bold and italics from the array?**

In [55]:
import numpy as np

# Given numpy array
array = np.array([[94, 89, 63],
                  [93, 92, 48],
                  [92, 94, 56]])

# Select the elements in bold
elements_bold = array[[0, 2], [0, 2]]

# Select the element in italics
element_italic = array[1, 1]

elements_bold, element_italic

(array([94, 56]), 92)

**13)A pandas Dataframe with dimensions (100,3) has how many features and observations?**

In [ ]:
#In a pandas DataFrame with dimensions(100, 3):
#The number of features (columns) is 3.
#The number of observations (rows) is 100.

**14)Consider the following list of tuples:**

y = [(2, 4), (7, 8), (1, 5, 9)]

How would you assign element 8 from the list to a variable x?**

In [57]:
y = [(2, 4), (7, 8), (1, 5, 9)]
# element 8 from the list to variable x
x = y[1][1]

x
#ans:x = y[1][1]

8

**15)What is the total Protein supply quantity in Madagascar in 2015?**

In [75]:

# Filter the DataFrame for Madagascar in 2015
madagascar_2015 = df[(df['Area'] == 'Madagascar') & (df['Y2015'] == 2015)]

# Sum the 'Protein_Supply_Quantity' for Madagascar in 2015
total_protein_supply = madagascar_2015['Element'].sum()

print("Total Protein supply quantity in Madagascar in 2015 is :", total_protein_supply)

Total Protein supply quantity in Madagascar in 2015 is : 0

**16)
Which of the following is a python inbuilt module?**

Options
Pandas

Seaborn

Math

Matplotlib**

In [ ]:
# every option except 'Math'

**17)What would be the output for?**

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

Options
'e'

'i'

28

'l'**

In [ ]:
# 'e'

**18)Given the following python code, what would the output of the code give?**

my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

Options
Value Error

Math Error

Type Error

Standard Error**

In [ ]:
#Type error

**19)
If you have the following list**

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

**How do you create a pandas DataFrame using this list, to look like the table below?**

In [78]:
import pandas as pd

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age', 'Nationality', 'Overall']

# Create DataFrame
df = pd.DataFrame(lst, columns=col)

print(df)
#pd.DataFrame(lst, columns=col, index=[1, 2, 3])

   Age Nationality  Overall
0   35    Portugal       94
1   33   Argentina       93
2   30      Brazil       92

**20)Which of these python data structures is unorderly?

Options
Dictionary

List

Set

Tuple**

In [ ]:
#set